@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: '微软雅黑';
  background-color: #f5f5f5; }

.a-color {
  color: #1270df; }

.reset-border {
  border: none !important; }

.reset-hidden {
  overflow: hidden; }

.reset-floatLeft {
  float: left; }

.reset-floatRight {
  float: right; }

.top {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  background: linear-gradient(0deg, #d9d9d9, #fefefe); }

.top_wrapper {
  margin: 0 auto;
  width: 1260px; }

.a-border {
  border-left: 1px solid #333;
  border-right: 1px solid #333; }

.a-padding {
  padding: 0 15px; }

.middle {
  margin: 22px auto; }

.middle_content_a-padding {
  display: inline-block;
  padding: 5px 15px; }

.form_input {
  height: 38px;
  width: 425px;
  padding-left: 5px;
  outline: none; }

.form-border {
  display: inline-block;
  border: 1px solid #e60012; }

.a-block {
  color: #000; }

.btn {
  display: inline-block;
  width: 110px;
  height: 40px;
  background: url("../images/shousuotubiao.png") #df1827 8px center no-repeat;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  box-sizing: border-box; }

.btn-bg {
  background: #e3e3e3;
  color: #666; }

.from_span-color {
  color: #ccc; }

.middle_logo img {
  display: block;
  width: 209px; }

.middle_content_wrapper {
  margin-right: 20px; }

.middle_nav-mt, .from_span-mt {
  margin-top: 5px; }

.bottom_title {
  width: 203px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #df1827; }

.bottom_title-mlr {
  margin: 0 15px; }

.bottom_title-ml {
  margin-left: 37px;
  font-size: 16px;
  margin-top: 17px; }

.bottom_title_a-color {
  color: #444; }

.hr_border {
  border-top: 1px solid #e60012; }

aside {
  position: relative; }

.list {
  width: 203px;
  height: 445px;
  margin-right: 6px;
  border: 1px solid #e60012;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff; }
  .list > ul > li {
    height: 32px;
    line-height: 32px;
    padding-left: 19px;
    border: 1px solid #fff;
    cursor: default;
    box-sizing: border-box; }
    .list > ul > li span {
      float: right;
      margin-right: 10px;
      color: #fff; }
    .list > ul > li div {
      position: absolute;
      left: 203px;
      top: 0;
      height: 445px;
      width: 645px;
      display: none;
      padding: 0 15px;
      background-color: #fff; }
      .list > ul > li div h2 {
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #d5d5d5;
        font-size: 20px;
        font-weight: bold;
        font-family: '新宋体 Regular'; }
      .list > ul > li div li {
        margin-right: 15px;
        font-size: 12px; }
        .list > ul > li div li:first-child {
          width: 75px; }
          .list > ul > li div li:first-child a {
            color: red; }
        .list > ul > li div li:hover a {
          color: red; }
      .list > ul > li div ul {
        height: 39px;
        line-height: 39px;
        border-bottom: 1px dashed #d5d5d5; }
    .list > ul > li:hover {
      width: 206px;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
      color: #f7212b;
      background-color: #f5f5f5; }
      .list > ul > li:hover span {
        color: #333; }
      .list > ul > li:hover div {
        display: block;
        z-index: 999999;
        color: #000; }
    .list > ul > li img {
      margin-right: 7px;
      vertical-align: middle; }

.focus_img {
  width: 863px;
  height: 298px; }

.g-focus {
  width: 863px;
  height: 298px;
  float: left;
  position: relative; }

.g-focus-num {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%); }

.g-focus-num li {
  float: left;
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  background: #999;
  border-radius: 11px;
  cursor: pointer; }

.g-focus-num li.on {
  background: #ccc; }

.tab {
  width: 180px;
  height: 298px;
  margin-left: 6px;
  border: 1px solid #e60012;
  box-sizing: border-box; }
  .tab_title {
    height: 35px;
    line-height: 35px;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    font-size: 18px;
    background-color: #e3e3e3;
    border: 1px solid #b2b2b2; }
  .tab_list li {
    padding: 5px 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .tab_list li img {
      margin: 0 6px 0 3px;
      vertical-align: middle; }

.banner {
  clear: left;
  height: 145px;
  width: 1055px; }
  .banner img {
    display: block;
    margin-right: 1px; }

.goods {
  clear: left; }
  .goods_title {
    margin: 8px 11px;
    font-size: 18px;
    border-left: 3px solid #00ff00;
    padding-left: 15px; }
  .goods_content {
    display: flex; }
    .goods_content_box {
      flex: 1; }
      .goods_content_box_middle {
        width: 227px;
        height: 100%;
        padding-left: 20px;
        color: #666;
        background: #fff; }
        .goods_content_box_middle table {
          text-align: left;
          width: 100%; }
          .goods_content_box_middle table thead tr td {
            height: 54px;
            line-height: 54px;
            font-size: 16px;
            font-weight: bold;
            font-family: "微软雅黑"; }
          .goods_content_box_middle table tbody th {
            font-size: 14px;
            font-weight: bold; }
          .goods_content_box_middle table tbody td {
            padding-bottom: 13px; }
      .goods_content_box_right img {
        display: block; }

.most_content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-top: 1px solid #999; }
  .most_content_left {
    flex: 1;
    height: 280px;
    display: flex; }
    .most_content_left_left {
      flex: 1;
      border-left: 1px solid #999; }
      .most_content_left_left ul li:last-child ul {
        border-bottom: none; }
      .most_content_left_left_nav {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 6px;
        margin: 0 8px;
        border-bottom: 1px dashed #999; }
        .most_content_left_left_nav li:last-child {
          border-left: 2px solid #c3c3c3;
          padding-left: 4px;
          color: #999; }
        .most_content_left_left_nav li:first-child {
          color: #cc0000; }
        .most_content_left_left_nav p {
          line-height: 15px; }
      .most_content_left_left_p-hidden {
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;
        color: #666; }
    .most_content_left_right {
      flex: 1;
      border-left: 1px solid #999; }
      .most_content_left_right ul li:last-child ul {
        border-bottom: none; }
  .most_content_right {
    width: 225px; }

.shop_title {
  border-left: 3px solid #f0f; }

.shop_content_left_left-ui p {
  line-height: 14px; }
  .shop_content_left_left-ui p b, .shop_content_left_left-ui p span {
    margin-right: 25px; }
  .shop_content_left_left-ui p b {
    color: #36f; }

.shop_content_left_left-ui-hidden {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.shop_content_left_left-ui-a {
  display: inline-block;
  width: 65px;
  height: 18px;
  line-height: 16px;
  margin-top: -20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #f00; }

.love {
  display: flex; }
  .love_title {
    width: 118px;
    height: 35px;
    line-height: 35px;
    text-align: center; }
    .love_title h2 {
      font-size: 18px; }
      .love_title h2 img {
        vertical-align: middle;
        margin-right: 6px; }
  .love_border {
    flex: 1;
    border-top: 1px solid #333;
    margin-top: 17px; }

.goodsList_box {
  display: flex; }
  .goodsList_box div {
    flex: 1;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .goodsList_box div section {
      text-align: center; }
    .goodsList_box div:first-of-type {
      border-left: 1px solid #ccc; }
    .goodsList_box div p {
      width: 237px;
      line-height: 21px;
      margin: 0 auto; }
      .goodsList_box div p b {
        color: #f00; }

.js-active {
  background-color: #df1827;
  color: #fff; }
