html,
body {
  height: 100%;
}
body {
  background: url("../images/beijing.png") no-repeat;
  background-size: cover;
  min-width: 1400px;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.wrapper .push {
  height: 100px;
}
footer {
  height: 100px;
  background: #fff;
  color: #999;
  text-align: center;
}
footer article {
  width: 990px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
footer article ul {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
}
footer article ul li {
  padding: 0 8px;
  border-right: 1px solid #ccc;
}
.top {
  box-sizing: border-box;
  height: 80px;
  background: #fff;
  line-height: 80px;
  font-size: 24px;
  padding-left: 470px;
}
.top img {
  vertical-align: middle;
  margin-right: 15px;
}
.top span {
  color: #666;
}
.aside_img {
  position: absolute;
  top: 125px;
  left: 305px;
}
.box {
  width: 380px;
  height: 320px;
  margin-top: 150px;
  margin-left: 850px;
  background: #fff;
  box-shadow: 0 0 50px 4px rgba(20,20,20,0.9);
}
.box h2 {
  height: 40px;
  line-height: 60px;
  padding-left: 40px;
  font-size: 20px;
  color: #333;
  background: #fff;
}
.box .form {
  height: 255px;
  background: #fff;
}
.box .form form div:nth-of-type(1) {
  text-align: center;
}
.box .form form div:nth-of-type(2) {
  text-align: center;
}
.box .form form div:nth-of-type(3) {
  text-align: center;
  padding: 10px 0;
}
.box .form form div:nth-of-type(3) label:nth-of-type(1) {
  margin-right: 190px;
}
.box .form form div:nth-of-type(3) label:nth-of-type(1) input {
  outline: none;
  transform: translateY(2px);
}
.box .form form div:nth-of-type(4) {
  text-align: center;
}
.box .form form div:nth-of-type(4) label:nth-of-type(1) input {
  width: 105px;
  height: 35px;
  margin-right: 60px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #c00;
  background: #c00;
  outline: none;
}
.box .form form div:nth-of-type(4) label:nth-of-type(2) input {
  width: 105px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #737373;
  color: #333;
  background: #f4f4f4;
  outline: none;
}
.box .form form div:nth-of-type(5) {
  padding-top: 25px;
  text-align: center;
  color: #f66;
}
.box .form form div:nth-of-type(5) img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 8px;
}
.box .form form input[type="text"] {
  width: 250px;
  height: 38px;
  padding-left: 50px;
  margin-top: 30px;
  font-size: 14px;
  border: 1px solid #b2bbca;
  outline: none;
  background: url("../images/zhanghao.png") 0 center no-repeat;
}
.box .form form input[type="password"] {
  width: 250px;
  height: 38px;
  margin-top: 30px;
  font-size: 14px;
  padding-left: 50px;
  border: 1px solid #b2bbca;
  outline: none;
  background: url("../images/mima.png") 0 center no-repeat;
}
.content {
  min-width: 1600px;
}
