.release {
  margin-top: 10px;
}
.release_content {
  width: 265px;
  height: 735px;
  padding-top: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  color: #3c3c3c;
}
.release_content a {
  color: #000;
}
.release_content figure {
  text-align: center;
}
.release_content ul {
  margin-top: 18px;
  border-top: 1px dashed #000;
}
.release_content ul li {
  height: 62px;
  line-height: 62px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.release_content ul li:hover {
  background: #666;
}
.release_content ul li:hover a {
  color: #fff;
}
.release aside {
  box-sizing: border-box;
  width: 992px;
  height: 735px;
  background: #fff;
  border: 1px solid #ccc;
}
.release aside form {
  margin: 50px 0 0 30px;
  font-size: 14px;
  color: #333;
}
.release aside form div {
  margin-bottom: 22px;
}
.release aside form div label {
  display: inline-block;
  width: 70px;
  text-align: right;
}
.release aside form div input {
  background: #fff;
  color: #333;
}
.release aside form div a {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin-left: 115px;
  line-height: 30px;
  background: #004986;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
