.release {
  margin-top: 10px;
}
.release_content {
  width: 265px;
  height: 1000px;
  padding-top: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  color: #3c3c3c;
}
.release_content a {
  color: #000;
}
.release_content figure {
  text-align: center;
}
.release_content ul {
  margin-top: 18px;
  border-top: 1px dashed #000;
}
.release_content ul li {
  height: 62px;
  line-height: 62px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.release_content ul li a {
  color: #000;
}
.release_content ul li:first-child {
  background: #666;
}
.release_content ul li:first-child a {
  color: #fff;
}
.release_content ul li:hover {
  background: #666;
}
.release_content ul li:hover a {
  color: #fff;
}
.release aside {
  box-sizing: border-box;
  width: 992px;
  height: 1000px;
  background: #fff;
  border: 1px solid #ccc;
}
.release aside form {
  margin: 50px 0 0 30px;
}
.release aside form textarea {
  width: 500px;
  height: 150px;
  padding: 5px;
  resize: none;
  outline: none;
  vertical-align: top;
}
.release aside form span {
  color: #f00;
}
.release aside form span img {
  margin: 0 5px;
  transform: translateY(2px);
}
.release aside form span b {
  color: #3c3c3c;
}
.release aside form div {
  margin-bottom: 30px;
}
.release aside form div label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.release aside form div:nth-of-type(1) input[type='text'] {
  width: 186px;
  height: 36px;
  padding-left: 5px;
  border: 1px solid #abadb3;
  outline: none;
}
.release aside form div:nth-of-type(2) input[type='text'] {
  width: 260px;
  height: 36px;
  padding: 5px;
  border: 1px solid #abadb3;
  outline: none;
}
.release aside form div:nth-of-type(3) input[type='text'] {
  width: 500px;
  height: 36px;
  padding: 5px;
  border: 1px solid #abadb3;
  outline: none;
}
.release aside form div:nth-of-type(5) textarea {
  height: 200px;
}
.release aside form div:nth-of-type(7) label {
  display: inline-block;
  margin-left: 300px;
}
.release aside form div:nth-of-type(7) label input {
  width: 72px;
  height: 32px;
  color: #666;
  background: #eee;
  border-radius: 5px;
}
