main
  article
    overflow hidden
    aside
      float left
      h2
        font-size 20px
        color #666
      ul
        li
          width 240px
          line-height 40px
          cursor pointer
          ul
            display none
            color #777
            ul
              transform translateX(-9px)

          img
            vertical-align middle
    section
      display flex
      flex-wrap wrap
      width 890px
      padding-left 32px
      float right
      border-left 1px solid #ccc
      .content-box
        display flex
        padding-bottom 22px
        margin-bottom 22px
        flex 1
        border-bottom 1px solid #e8e8e8
        img
          width 180px
          height 135px
        div
          padding-left 10px
          h2
            height 25px
            line-height 25px
            font-size 15px
            &:hover
              a
                color #018d50
            a
              color #474946
          p
            width 245px
            line-height 22px
            color #666
            text-align justify
            padding-right 5px
