main
  section
    //display flex
    //flex-wrap wrap
    //width 900px
    .content-box
      //display flex
      float left
      //flex 1
      margin-left 20px
      margin-bottom 25px
      h4
        font-size 16px
        color #01af63
      ul
        li
          line-height 22px
          color #666
          p
            float left
            width 280px
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
          span
            float right