h3
  height 30px
  margin-bottom 22px
  line-height 30px
  padding-left 8px
  border-bottom 1px solid #bababa
  color #bababa

main
  article
    overflow hidden
    aside
      float left
      text-align center
      font-size 20px
      ul
        li
          width 240px
          height 40px
          line-height 40px
          a
            color #666
          &:hover
            background #01af63
            a
              color #fff
    section
      width 885px
      min-height 270px
      padding-left 32px
      margin-bottom 108px
      float right
      border-left 1px solid #ccc
      table
        width 720px
        color #666
        font-size 14px
        border 1px solid #666
        tr
          height 35px
          th,td
            height 35px
            line-height 35px
            padding 0
            border 1px solid #dcdcdc
          th
            background #bbe094
          td
            text-align center
.btn-group
  width 720px
  font-size 12px
  color #999
  line-height 26px
  margin-top 20px
  .btn-group-left
    float left
  .btn-group-right
    float right
    .c-num
      box-sizing border-box
      height 26px
      border 1px solid #eee
      background #fff
      color #999
    .num
      box-sizing border-box
      height 26px
      width 20px
      border 1px solid #eee
      background #fff
      color #999
    .play
      background #eee
    input[type="text"]
      width 20px
      height 20px
      border 1px solid #eee
      padding-left 10px
      outline none