h3
  height 30px
  margin-bottom 22px
  line-height 30px
  padding-left 8px
  border-bottom 1px solid #bababa
  color #bababa

main
  article
    overflow hidden
    aside
      float left
      text-align center
      ul
        li
          width 240px
          height 40px
          line-height 40px
          &:hover
            background #01af63
            a
              color #fff
    section
      width 885px
      min-height 270px
      padding-left 32px
      margin-bottom 108px
      float right
      border-left 1px solid #ccc
      table
        width 720px
        color #666
        font-size 14px
        border 1px solid #666
        tr
          height 35px
          th,td
            height 35px
            line-height 35px
            padding 0
            border 1px solid #dcdcdc
          th
            background #bbe094
          td
            text-align center