h3
  height 30px
  margin-bottom 22px
  line-height 30px
  padding-left 8px
  border-bottom 1px solid #bababa
  color #bababa
main
  section
    div
      h4
        font-size 25px
        color #666
        text-align center
      ul
        display flex
        margin-top 100px
      .nav
        position relative
        min-height 300px
        li
          width 150px
          height 30px
          line-height 30px
          text-align center
          margin-right 2px
          cursor default
          div
            position absolute
            left 0
            top 50px
            width 850px
            padding 0 10px
            line-height 23px
            text-align justify
            color #555
            text-indent 2em

//js样式
.play
  background #68b535
  color #fff
.def
  background #ddd
  color #555
.show
  display block
.hide
  display none