h3
  height 30px
  margin-bottom 22px
  line-height 30px
  padding-left 8px
  border-bottom 1px solid #bababa
  color #bababa

main
  article
    overflow hidden
    aside
      float left
      text-align center
      ul
        li
          width 240px
          height 40px
          line-height 40px
          font-size 20px
          a
            color #666
          &:hover
            background #01af63
            a
              color #fff
    section
      width 885px
      padding-left 32px
      margin-bottom 108px
      float right
      border-left 1px solid #ccc
      figure
        text-align center
        p
          margin-top 30px
          text-align justify
          text-indent 2em
          line-height 22px


