.footer_about
  background #333
  color #fff
  .footer_boxWrapper
    display flex
    width 1000px
    .footer_about_box
      padding-top 15px
      margin-right 50px
      a
        color #fff
  .footer_link
    nav
      width 630px
      margin 60px auto 10px auto
      ul
        li
          padding 0 10px
        li:not(:first-child)
          border-left: 1px solid #fff
        li:not(:last-child)
          border-right: 1px solid #fff
    p
      text-align center
      padding-bottom 27px