html
  height 100%
  box-sizing border-box

body
  height 100%

.need_content
  min-height 100%
  margin-bottom -400px

footer, .push
  height 400px

.need_list
  height 80px
  line-height 80px
  font-size 22px
  &_item
    margin-left 50px
    color #474040
    a
      color #000
    &:hover
      text-shadow 4px 4px 4px #ced7db

.middle_content_wrapper
  margin-top 7px

.form_input
  width 266px

.btn-weight
  font-weight bold

.need_middle
  margin 0 auto
  padding-top 22px
  padding-bottom 15px

.need_border
  margin-top -1px

//table样式
.table
  width 100%
  text-align center
  font-size 14px
  color #666
  th
    height 28px
    line-height 28px
  tbody
    background #fff
    tr
      border-bottom 1px dashed #ccc
      &:hover
        background #eee
      td
        line-height 87px
        padding 0
        p,h3
          width 800px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
        p
         color #999
        img
          display block
        &:first-child
          line-height 22px
          padding-left 30px
          div
            transform translateY(15px)
        &:nth-of-type(2)
          color red
        section
          transform translateY(-18px)
          line-height 22px
  tr
    td:first-child
      width 60%
      text-align left
    td:not(:first-child)
      width 10%

//页脚的设置
.footer_about
  background #333
  color #fff
  .footer_boxWrapper
    display flex
    width 1000px
    .footer_about_box
      padding-top 15px
      margin-right 50px
      a
        color #fff
  .footer_link
    nav
      width 630px
      margin 60px auto 10px auto
      ul
        li
          padding 0 10px
        li:not(:first-child)
          border-left: 1px solid #fff
        li:not(:last-child)
          border-right: 1px solid #fff
    p
      text-align center
      padding-bottom 27px

.btn_at
  width 76px
  height 20px
  line-height 20px
  display inline-block
  text-align center
  margin 0 auto
  border 1px solid #ccc
  border-radius 5px
  background linear-gradient(0deg,#eee,#d9d9d9)
  color #999

.btn_wrapper
  width 76px
  height 20px
  margin 20px auto 10px auto

.footer_tu
  background #fff

.footer_tu_content
  span
    display inline-block
    padding-top 15px
    margin-left 30px
    font-size 18px
  .img_center
    width 985px
    height 147px
    margin 0 auto
    padding 15px 0 30px 0








