html
  height 100%
  box-sizing border-box

body
  height 100%

.need_content
  min-height 100%
  margin-bottom -192px

footer, .push
  height 192px

.search_form
  background #fff
  font-size 14px
  color #666
  padding-bottom 20px
  &_box
    margin-left 45px
    padding-top 20px
    select
      outline none
    span
      margin-right 40px
    input[type='text']
      width 100px
      height 25px
      padding-left 5px
      box-sizing border-box
      border 1px solid #666
  &_bar
    height 38px
    margin-top 15px
    span
      margin-right 10px
      a
        display inline-block
        width 146px
        height 38px
        line-height 38px
        text-align center
        cursor pointer
        img
          vertical-align middle
          transform translateX(20px)
    input[type='text']
      width 45px
      height 25px
      padding-left 3px
      border 1px solid #b8b8b8
    label
      input[type='button']
        width 40px
        height 22px
        line-height 22px
        outline none
        color #666
        background linear-gradient(0deg, #bcbcbc, #fafafa)

.aside_img
  width 23%
  margin-top 30px
  background #fff
  text-align center
  h2
    height 40px
    line-height 40px
    margin-bottom 10px
    background red
    font-size 16px
    text-align center
    color #fff
  figure
    display inline-block
    margin-bottom 4px
    background #efefef
    figcaption
      padding 10px 0
      div
        line-height 15px
        b, span
          float left
          margin-left 15px
        b
          color #ff7806
        span
          background #138d68
          color #fff

table
  width 77%
  text-align center
  font-size 14px
  color #666
  th
    height 28px
    line-height 28px
  tbody
    background #fff
    tr
      border-bottom 1px dashed #ccc
      &:hover
        background #eee
      td
        line-height 87px
        padding 0
        p,h3
          width 550px
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
        p
          color #999
        img
          display block
        &:first-child
          line-height 22px
          padding-left 30px
          div
            transform translateY(15px)
        &:nth-of-type(2)
          color red
        section
          transform translateY(-18px)
          line-height 22px
  tr
    td:first-child
      width 60%
      text-align left
    td:not(:first-child)
      width 10%
.need_list
  height 80px
  line-height 80px
  font-size 22px
  &_item
    margin-left 50px
    color #474040
    a
      color #000
    &:hover
      text-shadow 4px 4px 4px #ced7db
.form_input
  width 275px
//js
.js-native
  border 1px solid #f00
  color #fff
  background #f00

.js-play
  border 1px solid #b8b8b8
  color #666
  background #f7f7f7