.hr_border
  border-color #000

.form-bgColor
  background #fff

form
  width 555px
  margin 0 auto
  .form_box
    margin-top 30px
    span
      color red
      img
        margin 0 5px
    label
      display inline-block
      width 60px
      text-align right
    input[type="text"], input[type="password"], input[type="email"]
      width 318px
      height 35px
      padding-left 5px
      outline none
      border 1px solid #bbb
    .form_btn01
      width 85px
      height 25px
      line-height 25px
      text-align center
      box-sizing border-box
      background linear-gradient(0deg, #cccbd0, #f8f8f9)
      border-radius 5px
    &:nth-of-type(7)
      input[type="text"]
        width 120px

  .form_agree
    margin-left 70px
    margin-top 15px
    input[type="checkbox"]
      vertical-align middle
      margin-right 10px
      outline none
  .form_submit
    .form_btn02
      width 160px
      height 35px
      margin 10px 0 10px 30%
      background #e34449
      color #fff
      border-radius 5px
