.release
  margin-top 10px
  &_content
    width 265px
    height 1000px
    padding-top 18px
    box-sizing border-box
    border 1px solid #ccc
    background #fff
    color #3c3c3c
    a
      color #000
    figure
      text-align center
    ul
      margin-top 18px
      border-top 1px dashed #000
      li
        a
          color #000
        height 62px
        line-height 62px
        font-size 20px
        text-align center
        cursor pointer
        &:first-child
          background #666
          a
            color: #fff
        &:hover
          background #666
          a
            color #fff
  aside
    box-sizing border-box
    width 992px
    height 1000px
    background #fff
    border 1px solid #ccc
    form
      margin 50px 0 0 30px
      textarea
        width 500px
        height 150px
        padding 5px
        resize none
        outline none
        vertical-align top
      span
        color #f00
        img
          margin 0 5px
          transform translateY(2px)
        b
          color #3c3c3c
      div
        margin-bottom 30px
        label
          display inline-block
          width 80px
          text-align right
        &:nth-of-type(1)
          input[type='text']
            width 186px
            height 36px
            padding-left 5px
            border 1px solid #abadb3
            outline none
        &:nth-of-type(2)
          input[type='text']
            width 260px
            height 36px
            padding 5px
            border 1px solid #abadb3
            outline none
        &:nth-of-type(3)
          input[type='text']
            width 500px
            height 36px
            padding 5px
            border 1px solid #abadb3
            outline none
        &:nth-of-type(5)
          textarea
            height 200px
        &:nth-of-type(7)
          label
            display inline-block
            margin-left 300px
            input
              width 72px
              height 32px
              color #666
              background #eee
              border-radius 5px