.release
  a
    color #000
  margin-top 10px
  &_content
    width 265px
    height 735px
    padding-top 18px
    box-sizing border-box
    border 1px solid #ccc
    background #fff
    color #3c3c3c
    figure
      text-align center
    ul
      margin-top 18px
      border-top 1px dashed #000
      li
        height 62px
        line-height 62px
        font-size 20px
        text-align center
        cursor pointer
        //&:first-child
        //  background #666
        //  a
        //    color: #fff
        &:hover
          background #666
          a
            color #fff
  aside
    box-sizing border-box
    width 992px
    height 735px
    background #fff
    border 1px solid #ccc
    form
      margin 50px 0 0 30px
      font-size 14px
      color #333
      div
        margin-bottom 22px
        textarea
          width 220px
          height 85px
          padding-left 5px
          background #f6f6f6
          resize none
          vertical-align top
          border 1px solid #ddd
        label
          display inline-block
          width 70px
          text-align right
        input
          width 220px
          height 20px
          padding-left 5px
          background #f6f6f6
          border 1px solid #ddd
        a
          display inline-block
          width 70px
          height 30px
          margin-left 115px
          line-height 30px
          background #004986
          color #fff
          text-align center
          border-radius 5px
.need_list
  height 80px
  line-height 80px
  font-size 22px
  &_item
    margin-left 50px
    color #474040
    a
      color #000
    &:hover
      text-shadow 4px 4px 4px #ced7db
.form_input
  width 275px