main {
  margin-bottom: 100px;
}
main section h2 {
  font-size: 25px;
  color: #01af63;
  text-align: center;
}
main section h5 {
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
  color: #666;
}
main section h5 span {
  margin-left: 20px;
  color: #999;
}
main section p {
  font-size: 16px;
}
