footer {
  height: 225px;
  margin-top: 20px;
  background: #222;
}
footer article {
  background: #333;
}
footer article section {
  display: flex;
}
footer article section ul {
  flex: 1;
  color: #fff;
  padding-top: 30px;
  background: #333;
  margin-right: 2px;
}
footer article section ul li {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
footer article section ul li a {
  color: #fff;
}
footer article section ul li:first-child a {
  color: #8bcc4c;
}
footer aside {
  color: #fff;
}
footer aside p {
  text-align: center;
}
