header {
  height: 35px;
  line-height: 35px;
  color: #ccc;
  background: #7c7c7c;
}
header .header-title {
  float: left;
}
a {
  color: #333;
}
.container {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
.container .header-search {
  float: right;
}
.container .header-search input {
  box-sizing: border-box;
  width: 215px;
  height: 20px;
  padding-left: 10px;
  padding-right: 23px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  background: url("../images/tb_sousuo.png") 193px center no-repeat #ede6e6;
  color: #000;
}
nav {
  border-bottom: 1px solid #1f974b;
}
nav .container {
  height: 65px;
  display: flex;
  justify-content: space-between;
}
nav .container aside {
  display: flex;
  align-items: center;
}
nav .container aside h2 {
  font-size: 22px;
  color: #1f974b;
  font-weight: bold;
}
nav .container section {
  display: flex;
}
nav .container section > ul {
  display: flex;
  align-items: flex-end;
}
nav .container section > ul > li {
  width: 102px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
nav .container section > ul > li:hover {
  background: #01af63;
}
nav .container section > ul > li:hover ul {
  display: block;
}
nav .container section > ul > li:hover a {
  color: #fff;
}
nav .container section > ul > li:hover .list {
  display: block;
}
.list {
  display: none;
  position: absolute;
  background: #01af63;
  z-index: 999999;
}
.list li {
  width: 102px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.list li a {
  color: #fff;
}
.list li:hover {
  background: #019d59;
}
.list li:hover a {
  color: #fff;
}
