h3 {
  height: 30px;
  margin-bottom: 22px;
  line-height: 30px;
  padding-left: 8px;
  border-bottom: 1px solid #bababa;
  color: #bababa;
}
main article {
  overflow: hidden;
}
main article aside {
  float: left;
  text-align: center;
  font-size: 20px;
}
main article aside ul li {
  width: 240px;
  height: 40px;
  line-height: 40px;
}
main article aside ul li a {
  color: #666;
}
main article aside ul li:hover {
  background: #01af63;
}
main article aside ul li:hover a {
  color: #fff;
}
main article section {
  width: 885px;
  min-height: 270px;
  padding-left: 32px;
  margin-bottom: 108px;
  float: right;
  border-left: 1px solid #ccc;
}
main article section table {
  width: 720px;
  color: #666;
  font-size: 14px;
  border: 1px solid #666;
}
main article section table tr {
  height: 35px;
}
main article section table tr th,
main article section table tr td {
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 1px solid #dcdcdc;
}
main article section table tr th {
  background: #bbe094;
}
main article section table tr td {
  text-align: center;
}
.btn-group {
  width: 720px;
  font-size: 12px;
  color: #999;
  line-height: 26px;
  margin-top: 20px;
}
.btn-group .btn-group-left {
  float: left;
}
.btn-group .btn-group-right {
  float: right;
}
.btn-group .btn-group-right .c-num {
  box-sizing: border-box;
  height: 26px;
  border: 1px solid #eee;
  background: #fff;
  color: #999;
}
.btn-group .btn-group-right .num {
  box-sizing: border-box;
  height: 26px;
  width: 20px;
  border: 1px solid #eee;
  background: #fff;
  color: #999;
}
.btn-group .btn-group-right .play {
  background: #eee;
}
.btn-group .btn-group-right input[type="text"] {
  width: 20px;
  height: 20px;
  border: 1px solid #eee;
  padding-left: 10px;
  outline: none;
}
