main section ul li {
  overflow: hidden;
  line-height: 26px;
  color: #666;
  font-size: 16px;
  padding-right: 30px;
}
main section ul li p {
  float: left;
  width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main section ul li span {
  float: right;
}
